.vs/OpenGLDemo/v16/.suo
.vs/OpenGLDemo/v16/Browse.VC.db
.vs/OpenGLDemo/v16/Browse.VC.db-shm
.vs/OpenGLDemo/v16/Browse.VC.db-wal
.vs/OpenGLDemo/v16/Browse.VC.opendb
.vs/OpenGLDemo/v16/ipch/AutoPCH/18786495075aa4e5/WINDOW.ipch
.vs/OpenGLDemo/v16/ipch/AutoPCH/9ce0c30c14fe2375/MAIN.ipch
.vs/OpenGLDemo/v16/ipch/AutoPCH/9fe5058f7b1ff30f/WINDOW.ipch
.vs/OpenGLDemo/v16/ipch/AutoPCH/b07c450d2fcc131e/GLAD.ipch
.vs/OpenGLDemo/v16/ipch/AutoPCH/d6a596da5d7485dc/WINDOW.ipch
Debug/glad.obj
Debug/OpenGLDemo.log
Debug/OpenGLDemo.pdb
Debug/vc142.idb
Debug/vc142.pdb
Debug/window.obj
Debug/OpenGLDemo.tlog/CL.command.1.tlog
Debug/OpenGLDemo.tlog/CL.read.1.tlog
Debug/OpenGLDemo.tlog/CL.write.1.tlog
Debug/OpenGLDemo.tlog/link.command.1.tlog
Debug/OpenGLDemo.tlog/link.read.1.tlog
Debug/OpenGLDemo.tlog/link.write.1.tlog
Debug/OpenGLDemo.tlog/link-cvtres.read.1.tlog
Debug/OpenGLDemo.tlog/link-cvtres.write.1.tlog
Debug/OpenGLDemo.tlog/link-rc.read.1.tlog
Debug/OpenGLDemo.tlog/link-rc.write.1.tlog
Debug/OpenGLDemo.tlog/OpenGLDemo.lastbuildstate
Debug/OpenGLDemo.tlog/unsuccessfulbuild
x64/Debug/glad.obj
x64/Debug/OpenGLDemo.exe
x64/Debug/OpenGLDemo.exe.recipe
x64/Debug/OpenGLDemo.ilk
x64/Debug/OpenGLDemo.log
x64/Debug/OpenGLDemo.pdb
x64/Debug/OpenGLDemo.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/window.obj
x64/Debug/OpenGLDemo.tlog/CL.command.1.tlog
x64/Debug/OpenGLDemo.tlog/CL.read.1.tlog
x64/Debug/OpenGLDemo.tlog/CL.write.1.tlog
x64/Debug/OpenGLDemo.tlog/link.command.1.tlog
x64/Debug/OpenGLDemo.tlog/link.read.1.tlog
x64/Debug/OpenGLDemo.tlog/link.write.1.tlog
x64/Debug/OpenGLDemo.tlog/OpenGLDemo.lastbuildstate
